:root {
  --fs-xsm: 14px;
  --fs-sm: 16px;
  --fs-md: 18px;
  --fs-lg: 20px;
  --fs-xl: 21px;
  --fs-2xl: 25px;
  --fs-3xl: 30px;
  --fs-4xl: 50px;
  --fs-5xl: 70px;
  /* clr */
  --darkblue: #000a1a;
  --black: #000000;
  --white: #ffffff;
  --mixblue: #031227;
  --l-blue: #001d49;
  --blue: #009dff;
  --filterblue: #001931;
}
.l-blue {
  color: var(--l-blue);
}
.white {
  color: var(--white);
}
.black {
  color: var(--black);
}
.lh-27 {
  line-height: 27px;
}
.lh-32 {
  line-height: 32.62px;
}
.lh-24 {
  line-height: 24px;
}
.lh-30 {
  line-height: 30.15px;
}
.lh-86 {
  line-height: 86.8px;
}
.lh-45 {
  line-height: 45px;
}
.lh-21 {
  line-height: 21.76px;
}
.lh-45 {
  line-height: 45px;
}
.lh-29 {
  line-height: 29px;
}
.lh-62 {
  line-height: 62px;
}
.lh-19 {
  line-height: 19.5px;
}
.lh-37 {
  line-height: 37.5px;
}
.lh-68 {
  line-height: 68px;
}
.lh-40 {
  line-height: 40.8px;
}
.opacity-07 {
  opacity: 0.7;
}
.opacity-06 {
  opacity: 0.6;
}
/* -----lh---- */
.fs-14 {
  font-size: var(--fs-xsm);
}
.fs-16 {
  font-size: var(--fs-sm);
}
.fs-18 {
  font-size: var(--fs-md);
}
.fs-20 {
  font-size: var(--fs-lg);
}
.fs-21 {
  font-size: var(--fs-xl);
}
.fs-25 {
  font-size: var(--fs-2xl);
}
.fs-30 {
  font-size: var(--fs-3xl);
}
.fs-50 {
  font-size: var(--fs-4xl);
}
.fs-70 {
  font-size: var(--fs-5xl);
}

@media (max-width: 1400px) {
  :root {
    --fs-xsm: 14px;
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-lg: 20px;
    --fs-xl: 21px;
    --fs-2xl: 25px;
    --fs-3xl: 28px;
    --fs-4xl: 46px;
    --fs-5xl: 65px;
  }
  .accordionEllips2 {
    width: 250px;
    height: 250px;
    right: -18%;
    bottom: -13%;
  }
  .accordionEllips {
    width: 250px;
    height: 250px;
    right: -18%;
    top: -32%;
  }
  .cardEllips {
    width: 250px;
    height: 250px;
    right: -16%;
  }
  .mintEllips {
    width: 250px;
    height: 250px;
    top: 48%;
  }
  .roadEllips {
    width: 250px;
    height: 250px;
  }
  .card-box {
    padding: 22px;
  }
  .accordion-item {
    margin-bottom: 20px !important;
  }
  .mt-127 {
    margin-top: 100px !important;
  }
  .mt-141 {
    margin-top: 100px;
  }
  .pb-110 {
    padding-bottom: 100px;
  }
  .py-42-121 {
    padding: 100px 0 42px;
  }
  .py-179-56 {
    padding: 100px 0 56px;
  }
  .my-44-25 {
    margin: 22px 0 14px;
  }
  .gap-80 {
    gap: 47px;
  }
  .lh-86 {
    line-height: 73.8px;
  }
  .lh-40 {
    line-height: 34.8px;
  }
  .py-26-131 {
    padding: 26px 0 100px;
  }
  .lh-68 {
    line-height: 44px;
  }
  .my-63-52 {
    margin: 42px 0;
  }
}
@media (max-width: 1200px) {
  :root {
    --fs-xsm: 14px;
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-lg: 20px;
    --fs-xl: 21px;
    --fs-2xl: 25px;
    --fs-3xl: 28px;
    --fs-4xl: 46px;
    --fs-5xl: 65px;
  }
  .gap-80 {
    gap: 60px;
  }
  .my-44-25 {
    margin: 22px 0 18px;
  }
  .py-179-56 {
    padding: 90px 0 56px;
  }
  .row-gap-41 {
    row-gap: 24px;
  }
  .cardEllips {
    top: 24%;
    width: 230px;
    height: 180px;
    right: -18%;
  }
  .mintEllips {
    width: 180px;
    height: 187px;
    top: 52%;
  }
  .roadEllips {
    width: 185px;
    height: 250px;
  }
  .accordionEllips {
    width: 218px;
    height: 120px;
    right: -17%;
    top: -4%;
  }
  .accordionEllips2 {
    width: 218px;
    height: 120px;
    right: -17%;
    bottom: -4%;
  }
  .my-63-52 {
    margin: 40px 0;
  }
  .mb-106 {
    margin-bottom: 90px;
  }
  .py-42-121 {
    padding: 90px 0 42px;
  }
  .pb-110 {
    padding-bottom: 90px;
  }
  .mt-141 {
    margin-top: 90px;
  }
  .py-26-131 {
    padding: 26px 0 90px;
  }
}
@media (max-width: 992px) {
  :root {
    --fs-xsm: 14px;
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-lg: 18px;
    --fs-xl: 21px;
    --fs-2xl: 25px;
    --fs-3xl: 24px;
    --fs-4xl: 40px;
    --fs-5xl: 70px;
  }

  .lh-62 {
    line-height: 42px;
  }
  .lh-68 {
    line-height: 45px;
  }
  .moblieView {
    position: absolute;
    top: 0;
    left: -100%;
    flex-direction: column;
    justify-content: center;
    z-index: 90;
    transition: 300ms linear;
    height: 100vh;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(60px);
  }
  .overflow_hide {
    overflow: hidden;
  }
  .menu {
    position: relative;
    z-index: 100;
    cursor: pointer;
  }
  .menu span:nth-child(1) {
    display: block;
    width: 40px;
    height: 4px;
    transition: 300ms linear;
    border-radius: 10px;
    background-color: var(--white);
  }
  .menu span:nth-child(2) {
    display: block;
    width: 40px;
    height: 4px;
    transition: 300ms linear;
    border-radius: 10px;
    background-color: var(--white);
  }
  .menu span:nth-child(3) {
    display: block;
    width: 40px;
    height: 4px;
    transition: 300ms linear;
    border-radius: 10px;
    background-color: var(--white);
  }
  .cross :nth-child(1) {
    transform: rotate(45deg) translateY(18px);
  }
  .cross :nth-child(2) {
    transform: translateX(-100%);
    opacity: 0;
  }
  .cross :nth-child(3) {
    transform: rotate(-48deg) translateY(-16px);
  }
  .gap-80 {
    gap: 32px;
  }
  .header-bg {
    background-position: left;
  }
  .mt-21 {
    margin-top: 24px;
  }
  .my-32-02 {
    margin: 16px 0 2px;
  }
  .my-63-52 {
    margin: 40px 0;
  }
  .row-gap-41 {
    row-gap: 24px;
  }
  .mt-127 {
    margin-top: 80px !important;
  }
  .py-42-121 {
    padding: 80px 0 42px;
  }
  .py-26-131 {
    padding: 26px 0 80px;
  }
  .timeline > :first-child {
    padding-bottom: 60px;
  }
  .timeline > :nth-child(2) {
    padding-bottom: 60px;
  }
  .cardEllips {
    top: 37%;
    width: 205px;
    height: 180px;
    right: -21%;
  }
  .accordionEllips2 {
    width: 220px;
    height: 80px;
    right: -22%;
    bottom: -4%;
  }
  .accordionEllips {
    width: 220px;
    height: 80px;
    right: -22%;
    top: -4%;
  }
  .roadEllips {
    width: 170px;
    height: 145px;
    top: 38%;
  }
  .timeline::after {
    left: 6%;
  }
  .right {
    left: 6%;
    padding-right: 0;
    padding-left: 65px;
  }
  .left {
    left: 6%;
  }
  .roadBox {
    padding-left: 65px;
    padding-right: 0;
    width: 90%;
  }
  .Dots {
    right: unset;
    left: -33px;
  }
  .timeline::after {
    height: calc(100% - 24%);
  }
  .mt-141 {
    margin-top: 80px;
  }
  .pb-110 {
    padding-bottom: 80px;
  }
  .mb-106 {
    margin-bottom: 80px;
  }
  .py-179-56 {
    padding: 80px 0 56px;
  }
  .mb-63 {
    margin-bottom: 50px;
  }
  .lh-45 {
    line-height: 34px;
  }
}
@media (max-width: 768px) {
  :root {
    --fs-xsm: 14px;
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-lg: 16px;
    --fs-xl: 21px;
    --fs-2xl: 22px;
    --fs-3xl: 22px;
    --fs-4xl: 38px;
    --fs-5xl: 55px;
  }
  .lh-45 {
    line-height: 32px;
  }
  .lh-62 {
    line-height: 47px;
  }
  .lh-40 {
    line-height: 32px;
  }
  .lh-86 {
    line-height: 65px;
  }
  .lh-68 {
    line-height: 48px;
  }
  .lh-37 {
    line-height: 24.5px;
  }
  .accordion-item {
    margin-bottom: 16px !important;
  }
  .my-21 {
    margin: 10px 0;
  }
  .mb-106 {
    margin-bottom: 50px;
  }
  .mb-27 {
    margin-bottom: 10px;
  }
  .mb-46 {
    margin-bottom: 32px;
  }
  .getBtn {
    padding: 8px 25px;
  }
  .pt-28 {
    padding-top: 14px;
  }
  .gap-80 {
    gap: 12px;
  }
  .mintEllips {
    width: 150px;
    height: 150px;
    top: 60%;
  }
  .cardEllips {
    top: 26%;
    width: 184px;
    height: 117px;
    right: -22%;
  }
  .roadEllips {
    width: 170px;
    height: 145px;
    top: 34%;
    left: -21%;
  }
  .accordionEllips2 {
    width: 220px;
    height: 80px;
    right: -26%;
    bottom: -4%;
  }
  .accordionEllips {
    width: 220px;
    height: 80px;
    right: -26%;
  }
  .header-bg {
    background-position: inherit;
  }
  .py-26-131 {
    padding: 26px 0 70px;
  }
  .py-42-121 {
    padding: 70px 0 42px;
  }
  .mb-106 {
    margin-bottom: 50px;
  }
  .mt-127 {
    margin-top: 70px !important;
  }
  .py-179-56 {
    padding: 70px 0 56px;
  }
  .my-63-52 {
    margin: 28px 0;
  }
  .mt-141 {
    margin-top: 70px;
  }
  .pb-110 {
    padding-bottom: 70px;
  }
  .accordion {
    --bs-accordion-btn-padding-x: 22px !important;
    --bs-accordion-btn-padding-y: 16px !important;
    --bs-accordion-body-padding-x: 0px 0px 22px !important;
    --bs-accordion-body-padding-y: 12px !important;
  }
}
@media (max-width: 576px) {
  :root {
    --fs-xsm: 14px;
    --fs-sm: 14px;
    --fs-md: 18px;
    --fs-lg: 14px;
    --fs-xl: 21px;
    --fs-2xl: 18px;
    --fs-3xl: 17px;
    --fs-4xl: 28px;
    --fs-5xl: 40px;
  }
  .header-bg {
    background-position: left;
  }
  .lh-68 {
    line-height: 29px;
  }
  .lh-86 {
    line-height: 45px;
  }
  .lh-40 {
    line-height: 25px;
  }
  .py-26-131 {
    padding: 26px 0 50px;
  }
  .mt-127 {
    margin-top: 55px !important;
  }
  .lh-30 {
    line-height: 18.15px;
  }
  .my-44-25 {
    margin: 12px 0;
  }
  .mb-47 {
    margin-bottom: 40px;
  }
  .lh-24 {
    line-height: 22px;
  }
  .row-gap-41 {
    row-gap: 16px;
  }
  .card-box {
    padding: 16px 22px;
  }
  .my-63-52 {
    margin: 22px 0;
  }
  .mt-21 {
    margin-top: 16px;
  }
  .Dots > div {
    width: 32px;
    height: 32px;
  }
  .lh-62 {
    line-height: 28px;
  }
  .mb-63 {
    margin-bottom: 40px;
  }
  .Dots {
    width: 48.92px;
    height: 48.92px;
  }
  .right :first-child {
    left: -17px;
  }
  .Dots {
    right: unset;
    left: -17px;
    top: -5%;
  }
  .timeline::after {
    left: 8.1%;
    height: calc(100% - 29%);
  }
  .lh-29 {
    line-height: 22px;
  }
  .timeline > :nth-child(2) {
    padding-bottom: 40px;
  }
  .timeline > :first-child {
    padding-bottom: 40px;
  }
  .roadBox {
    padding-left: 55px;
  }
  .mt-141 {
    margin-top: 50px;
  }
  .pb-110 {
    padding-bottom: 50px;
  }
  .lh-45 {
    line-height: 26px;
  }
  .py-179-56 {
    padding: 40px 0 40px;
  }
  .mb-106 {
    margin-bottom: 40px;
  }
  .py-42-121 {
    padding: 40px 0 40px;
  }
}
