@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("./root.css");
* {
  margin: 0;
  padding: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
  font-family: "Poppins" !important;
}
body {
  background: var(--darkblue) !important;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}

/* nav bar */
.pt-28 {
  padding-top: 28px;
}

.header-bg {
  background-image: url("../img/png/header-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.gap-80 {
  gap: 80px;
}
.navItem {
  position: relative;
  transition: all 300ms linear;
}
.navItem::after {
  position: absolute;
  content: " ";
  bottom: -3px;
  left: 50%;
  height: 2px;
  width: 0;
  transition: all 300ms linear;
  background-color: var(--white);
  transform: translateX(-50%);
}
.navItem:hover::after {
  width: 100%;
  border-radius: 10px;
}
.pointer {
  cursor: pointer;
}
/* ----------hero section--------- */
.mb-27 {
  margin-bottom: 27px;
}
.mb-46 {
  margin-bottom: 46px;
}
.getBtn {
  padding: 16px 40px;
  background-color: var(--white);
  border-radius: 45.5px;
  transition: all 300ms linear;
  border: none;
}
.getBtn:hover {
  color: var(--white);
  background-color: var(--l-blue);
}
/* ----------------------- Mint Your Bat--------------------- */
.py-26-131 {
  padding: 26px 0 131px;
}
.max-574 {
  max-width: 574px;
}
.mt-21 {
  margin-top: 21px;
}
.comingBtn {
  padding: 10px 20px;
  border-radius: 45.5px;
  transition: all 300ms linear;
  background-color: var(--white);
  border: none;
}
.comingBtn:hover {
  color: var(--white);
  background-color: var(--l-blue);
}
.my-63-52 {
  margin: 63px 0 52px;
}
.card-box {
  background-color: var(--mixblue);
  padding: 40px;
  border-radius: 20px;
}
.cards-img {
  max-width: 117px;
  height: 145px;
}
.my-44-25 {
  margin: 44px 0 25px;
}
.row-gap-41 {
  row-gap: 41px;
}
.mt-127 {
  margin-top: 127px !important;
}

.iconBox {
  transition: all 300ms linear;
}
.iconBox:hover {
  transform: translateY(-6px);
}
/* ------------road map---------------- */
.pb-110 {
  padding-bottom: 110px;
}
.mb-63 {
  margin-bottom: 63px;
}
.max-938 {
  max-width: 938px;
}

.timeline {
  position: relative;
  width: 100%;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 5px;
  height: calc(100% - 20%);
  background: repeating-linear-gradient(
    transparent 0,
    transparent 5px,
    var(--white) 5px,
    var(--white) 10px
  );
  top: 2%;
  bottom: 18%;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.roadBox {
  padding-right: 65px;
  position: relative;
  width: 50%;
}
.timeline > :first-child {
  padding-bottom: 135px;
}
.timeline > :nth-child(2) {
  padding-bottom: 201px;
}

.left {
  left: 0;
}
.right {
  left: 50%;
  padding-right: 0;
  padding-left: 65px;
}
.right :first-child {
  left: -33px;
}
.Dots {
  width: 64.92px;
  height: 64.92px;
  opacity: 0.1px;
  background-color: var(--filterblue);
  border-radius: 50%;
  position: absolute;
  right: -32px;
  top: -16px;
  z-index: 10;
}
.Dots > div {
  width: 43px;
  height: 43px;
  border: 3.23px solid var(--white);
  background-color: var(--blue);
  border-radius: 50%;
}
.mt-141 {
  margin-top: 141px;
}
/* -----------------team-------------------- */
.py-42-121 {
  padding: 121px 0 42px;
}
.max-1012 {
  max-width: 1012.43px !important;
}
.teamImg {
  max-width: 311px;
  height: 311px;
}
.my-32-02 {
  margin: 32px 0 2px;
}
/* ----------------footer------------------ */
.py-179-56 {
  padding: 179px 0 56px;
}
.bg-layer {
  background-image: url("../img/png/footerLayer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.mb-106 {
  margin-bottom: 106px;
}
.my-21 {
  margin: 21px 0;
}
.gap-6 {
  gap: 6px;
}
.gap-12 {
  gap: 12px;
}
